.search-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px; /* Adjust this value to match your sidebar width */
}

.back-button {
  position: absolute;
  top: 20px;
  left: 260px; /* Adjust this value based on your sidebar width */
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #333; /* Darker shade on hover */
}

.search-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.chat-container {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-messages {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  background-color: #ffffff;
}

.chat-form {
  display: flex;
  border-top: 1px solid #e0e0e0;
}

.chat-input {
  flex-grow: 1;
  padding: 15px;
  border: none;
  font-size: 16px;
  background-color: #ffffff;
  color: #333333;
}

.chat-input::placeholder {
  color: #999999;
}

.chat-submit {
  padding: 15px 25px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.chat-submit:hover {
  background-color: #007B9A;
}
